.tr_head{
    
}

.fas.fa-home{
    color: #1B8A95
}

.fas.fa-graduation-cap{
    color: black;
}

.fas.fa-briefcase{
    color: coral;
}

.fas.fa-mug-hot{
    color: rebeccapurple;
}

.fas.fa-list{
    color: #FFA500;
}

i{
    margin-right: 10px;
}

.fas.fa-check{
    align-items: center;
    color: green;
}

.link{
    cursor: pointer;
}