th{
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    
}
th:hover{
    background-color: #a7ffe2ee;
}

table th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
    background: #98cdf7;
}

.fas.fa-home{
    color: #1B8A95
}

.fas.fa-graduation-cap{
    color: black;
}

.fas.fa-briefcase{
    color: coral;
}

.fas.fa-mug-hot{
    color: rebeccapurple;
}

.fas.fa-list{
    color: #FFA500;
}

i{
    margin-right: 10px;
}

.fas.fa-check{
    align-items: center;
    color: green;
}

.link{
    cursor: pointer;
}

th i{
    align-items: center;
    margin-left: 6px;
}

.fas.fa-minus.sort_up:before{
    content: "\f0de";

}

.fas.fa-minus.sort_down:before{
    content: "\f0dd";
}

.table-wrapper-scroll-y{
    display: block;
}

.my-custom-scrollbar{
    position: relative;
    height: 30vh;
    overflow: auto;
}
h3{
    margin-bottom: 2vh;
}

